<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="Stylehero.css">
    <title>Hero</title>
</head>
<body>

    <div class="Contenedor">
        <div class="Wrap">
            <div class="box">

                <span>Innovatech</span>
                <h1>Somos los mejores y tenemos lo mejor</h1>
                <p>
                    Misión:Nuestra misión es brindar a los usuarios una experiencia agradable a la hora de la compra de los artículos de su interés, buscamos que el servicio ofrecido sea rápido, eficiente y fácil de conllevar para los usuarios tratando de cubrir todas sus necesidades y expectativas.
                </p>
                <p>
                    Visión:A largo plazo buscamos que nuestra empresa sea una entidad que sea reconocida a nivel global como uno de los grandes distribuidores de componentes y equipos, que se caracterice por su simplicidad y eficiencia cubriendo las necesidades del mercado global tecnológico.
                </p>
                <div class="Botones">
                    <a href="Index.cshtml">Empieza a comprar</a>


                </div>


            </div>

        </div>

    </div>




</body>
</html>